
* {
	margin: 0;
}

html {
	height: 100%;
	background-color: #ccc;
}

body {
	background-color: white;
	width:
	min-height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}


/* begin header styling */

body > header {
	-webkit-box-shadow: #999999 0px 4px 8px 0;
	overflow: hidden; 
	box-shadow: #999999 0px 4px 8px 0;
	*zoom: 1;
	background-image: -webkit-gradient(
		linear, 
		0% 0%, 0% 100%, 
		color-stop(0%, #025D8C), 
		color-stop(100%, #025D8C)
	);
	
	/*border-top: 1px solid black;*/
	height: 40px;
	left: 0;
	padding: 0;
	margin-bottom: 5px;
	padding-bottom: 5px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

body > header > .container {
	margin: 0 auto;
	max-width: 960px;
}

body > header > .container > a {
	float: left;
	border-right: .5px solid #025D8C;
	padding: 5px 20px 5px 0;
}

body > header > .container > a img {
	display: block;
	height: 35px;
	width: 35px;
}

body > header nav {
	float: left;
	border-left: 1px solid #323232;
	padding: 0 0 0 20px;
}

body > header nav a {
	color: white;
	display: block;
	float: left;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
	margin: 0 10px;
	text-decoration: none;
	/*text-shadow: black 0px 1px 1px;*/
}

body > header nav a:first-child {
	margin-left: 0;
}

body > header nav a:hover {
	color: white;
	text-decoration: none;
}             

/* end header styling */


/* begin section styling */

#commands {
	font-size: 13px;
	text-align: center;
}

#commands ul {
	margin: 0 15px;
	text-align: left;
	padding: 50px 0 0 0;
}

#commands li {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: #e0e0e0 1px 1px 5px 0;
	-webkit-box-shadow: #e0e0e0 1px 1px 5px 0;
	background-color: #fafafa;
	margin: 0 0 10px 0;
	padding: 10px 10px;
}

#commands li .command {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: block;
	font-size: 9px;
	margin: 0 0 2px 0;
}

#commands li .command a {
	color: #0066aa;
	text-decoration: none;
	font-size: 10px;
	text-shadow: #f0f0f0 1px 1px 0px;
}

#commands li .command a:hover {
	color: #0099ff;
}

#commands li .command .args {
	font-size: 10px;
	color: #555555;
}

#commands li .summary {
	display: block;
	font-size: 11.5px;
	line-height: 1.5em;
}

#commands nav {
	margin: 0 auto;
	padding: 7px 0 6px 0;
	background-color: #f0f0f0;
	position: fixed;
	width: 100%;
	-moz-box-shadow: #aaaaaa 0px 4px 8px 0;
	-webkit-box-shadow: #aaaaaa 0px 4px 8px 0;
	box-shadow: #aaaaaa 0px 4px 8px 0;
	background-image: -webkit-gradient(
		linear, 
		0% 0%, 0% 100%, 
		color-stop(0%, #fefefe), 
		color-stop(100%, #f0f0f0));
	background-image: -moz-linear-gradient(top, #fefefe 0%, #f0f0f0 100%);
}

#commands nav a {
	color: #555555;
	text-decoration: none;
	padding: 2px 2px;
	font-size: 11.5px;
	line-height: 14px;
	display: inline-block;
}

#commands nav a.current {
	background-color: #666666;
	color: white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-shadow: black 1px 1px 1px;
	padding: 2px 8px;
}                     


/* end section styling */


/* begin button styling */

.button {
	max-width: 90px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font: .9em 'Trebuchet MS', Arial, Helvetica;
	display: inline-block;
	text-align: center;
	color: #fff;
	/*border: 1px solid #9c9c9c; /* fallback style *!/;
	border: 1px solid rgba(0, 0, 0, 0.3);  */          
	text-shadow: 0 1px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 .05em rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
}

.button, .button span {
	-moz-border-radius: .5em;
	border-radius: .5em;
}

.button span {
	display: block;
	padding: 0.5em 2.5em;
	padding-left: .6em;
	padding-right: .6em;
	padding-top: .5em;
	padding-bottom: .5em;
	
	background-image: -webkit-gradient(
							linear, 
							0 0, 100% 100%, 
							color-stop(.25, rgba(0, 0, 0, 0.05)), 
							color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(
                      		linear, 
                      		0 100%, 100% 0, 
                      		color-stop(.25, rgba(0, 0, 0, 0.05)), 
                      		color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(
                      		linear, 
                      		0 0, 100% 100%, 
                      		color-stop(.75, transparent), 
                      		color-stop(.75, rgba(0, 0, 0, 0.05))),
                      -webkit-gradient(
                      		linear, 
                      		0 100%, 100% 0, 
                      		color-stop(.75, transparent), 
                      		color-stop(.75, rgba(0, 0, 0, 0.05)));
 	background-image: -moz-linear-gradient(
 		45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
                      -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
                      
	-moz-background-size: 3px 3px;
	-webkit-background-size: 3px 3px;
	background-size: 3px 3px;
}

.button:hover {
	box-shadow: 0 0 .1em rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}

.button:active {
	/* when pressed, move it down 1px */
	position: relative;
	top: 1px;
}

.button-blue {
	background: #4477a1;
	background: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1) );
	background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
}

.button-blue:hover {
	background: #81a8cb;
	background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#81a8cb) );
	background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
}

.button-blue:active {
	background: #4477a1;
}

/* end button styling */


/* begin highchart element styling */

.highcharts-tooltip {
	color: white;
	font-weight: 300;
}

#highcharts-axis {
	color: #5D8AA8;
	font-size: 12px;
}

/* end highchart element styling */



/* begin fieldset styling */

#btnRow1 {
	margin-top: 10px;
	margin-bottom: 15px;
}

/* end fieldset styling */

/* buttons */

#plot1 {  
	margin-right: 5px;
}


#myGrid {
	min-width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	
}

#colLeft {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	position: absolute;
	right: 2%;
	left: 2%;
	width: 16%;
	top: 4em;
	background: #cac5c5;
}

fieldset {
	border: 2px solid white;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	color: white;
	margin-top: 3px;
	padding-top: 3px;
}

legend {
	font-size: 1.2em;
	font-weight: 500;
	color: #960B11;
	font-style: italic;
}

#addDataSeries {
	margin-top: 3px;
	margin-bottom: 3px;	
}

.cbox {
	margin-top: 3px;
	margin-bottom: 3px;
}

#addDataSeries {
	color: #030a7b;
	font: 300 .8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 10px;
}

#buttonSet1 {
	color: #030a7b;
	font: 300 .8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.radio {
	margin-bottom: 6px;
}

#radio-group1-all {
	margin-bottom: 10px;
	color: #030a7b;
	font: 300 .8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#radio-group1 {
	line-height:1.4em;
}


#colRight {
	position: absolute;
	left: 19%;
	width: 79%;
	top: 4em;
}	


/* general layout classes */
.center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

	
/* begin footer styling */
.footer {
	height: 30px;
	position: absolute;
	backgorund-color: blue;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#flaskBadge {
	position: absolute;
	right: 2%;
}

#flaskBadge > img {
	height: 60%;
	width: 60%;
}
/* end footer styling */
	
	